@model Blogifier.Core.ViewModels.PostList
@{
    Layout = string.Format("~/Areas/Blog/Views/Themes/{0}/_Layout.cshtml",
        Blogifier.Core.Infrastructure.AppSettings.Theme);

    var olderUrl = string.Format("{0}/{1}/page/{2}", Blogifier.Constants.Blogs, ViewBag.BlogSlug, Model.Pager.OlderPage);
    var newerUrl = Model.CurrentPage < 3 ?
        string.Format("{0}/{1}", Blogifier.Constants.Blogs, ViewBag.BlogSlug) :
        string.Format("{0}/{1}/page/{2}", Blogifier.Constants.Blogs, ViewBag.BlogSlug, Model.Pager.NewerPage);
}
@Html.Partial("~/Areas/Blog/Views/Loop.cshtml", Model)
<nav>
    <ul class="pager">
        <li class="@Model.Pager.NewerCss"><a href="~/@newerUrl"><span aria-hidden="true">&larr;</span> Newer</a></li>
        <li class="@Model.Pager.OlderCss"><a href="~/@olderUrl">Older <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>