@model Blogifier.Core.ViewModels.PostList
@{
    Layout = string.Format("~/Areas/Blog/Views/Themes/{0}/_Layout.cshtml", Model.Blog.Theme);

    var olderUrl = string.Format("{0}/{1}/{2}/page/{3}", Blogifier.Constants.Category, ViewBag.BlogSlug, ViewBag.Category, Model.Pager.OlderPage);
    var newerUrl = Model.CurrentPage < 3 ?
        string.Format("{0}/{1}/{2}", Blogifier.Constants.Category, ViewBag.BlogSlug, ViewBag.Category) :
        string.Format("{0}/{1}/{2}/page/{3}", Blogifier.Constants.Category, ViewBag.BlogSlug, ViewBag.Category, Model.Pager.NewerPage);
}
@Html.Partial("~/Areas/Blog/Views/Loop.cshtml", Model)
<nav>
    <ul class="pager">
        <li class="@Model.Pager.NewerCss"><a href="~/@newerUrl"><span aria-hidden="true">&larr;</span> Newer</a></li>
        <li class="@Model.Pager.OlderCss"><a href="~/@olderUrl">Older <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>