<footer class="footer footer-transparent">
    <div class="container">
        <div class="social-area pull-right">
            <a class="btn btn-social btn-twitter btn-just-icon" href="https://twitter.com/#">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-social btn-facebook btn-just-icon" href="https://www.facebook.com/#">
                <i class="fa fa-facebook-square"></i>
            </a>
            <a class="btn btn-social btn-google btn-just-icon" href="https://plus.google.com/#">
                <i class="fa fa-google-plus"></i>
            </a>
        </div>
        <div class="copyright">
            Copyright &copy; 2016 Copyright Holder All Rights Reserved.
        </div>
    </div>
</footer>