<link rel="stylesheet" href="app/editors/summernote/summernote.css">
<style>
	.note-toolbar { background-color: #444 !important;}
	.note-editor .btn { color: white !important; background-color: #444; margin-top: 3px; }
	.note-editor .btn:hover,  .note-editor .btn:active { background-color: #444 !important;}
	.note-editor .note-toolbar { padding-bottom: 0 !important; border: 0 none; }
	.note-editable { line-height: normal !important; text-transform: none; font-size: 1.3em; }
	.edit-controls .form-control { background-color: #fff !important; color: #333 !important; }
	.edit-controls { margin-top: 5px; }
</style>
<div class="header">       
	<div class="summernote"></div>
	<div class="edit-controls" style="display: none;">
		<fieldset>
			<div class="form-group">
				<!--<label class="col-lg-2 control-label" for="txtTitle">Title</label>-->
				<div class="col-lg-12">
					<input type="text" id="txtTitle" tabindex="1" ng-model="vm.post.Title" placeholder="Post title..." class="form-control"/>
				</div>

                <div class="col-lg-12">
                    <input type="text" id="txtTags" tabindex="2" placeholder="Tags, comma delimeted" class="form-control" />
                </div>
			</div>
			<!--<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
					<button class="btn btn-default">Cancel</button>
					<button class="btn btn-primary" type="submit">Submit</button>
				</div>
			</div>-->
		</fieldset>
	</div>
</div>
<div class="footer">
	<div class="pull-left">&copy; <a href="#">BlogiFire</a> 0.1</div>
</div>
<script type="text/javascript" src="app/editors/summernote/summernote.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('.summernote').summernote({
			height: 400,
			toolbar: [
			   ['style', ['style']],
			   ['style', ['bold', 'italic', 'underline', 'clear']],
			   ['font', ['strikethrough']],
			   ['para', ['ul', 'ol', 'paragraph']],
			   ['insert', ['picture', 'table', 'link']],
			   ['misc', ['codeview']]
			],
			onImageUpload: function(files, editor, $editable) {
				if(files.length > 0){
			        console.log('image upload:', files.length, editor, $editable);
					alert('will save to disk');
				}
			}
		});
		var b1 = '<div class="user-section pull-right"><i class="user-avatar fa fa-user"></i><div class="user-section-dropdown"><ul>';
		b1 += '<li><a href="index.html#/profile"><i class="fa fa-user"></i>Profile</a></li>';
		b1 += '<li><a href="index.html#/settings"><i class="fa fa-cog"></i>Settings</a></li>';
		b1 += '<li><a href="index.html#/help"><i class="fa fa-question"></i>Help</a></li>';
		b1 += '<li><a href="#"><i class="fa fa-sign-out"></i>sign out</a></li>';
		b1 += '</ul></div></div>';

		var b2 = '<ul class="nav-actions pull-right">';
		b2 += '<li><a href="" ng-click="vm.publish()"><i class="fa fa-check"></i>Publish</a></li>';
		b2 += '<li><a href="" ng-click="vm.save()"><i class="fa fa-save"></i>Save</a></li>';
		b2 += '</ul>';

		$('.btn-toolbar').prepend($('<ul class="nav-actions"><li><a href="" ng-click="vm.cancel()"><i class="fa fa-arrow-left"></i>Back</a></li></ul>'));
		$('.btn-toolbar').append($(b1));
		$('.btn-toolbar').append($(b2));
		$('.edit-controls').show(); // hide/show to prevent flicking in toolbar on load
		$('.note-editable').focus();
	});
</script>