@{
    var theme = "Standard";
    Layout = "~/Views/Blogifier/Themes/" + theme + "/_Layout.cshtml";
}
@foreach (var item in Model.Posts)
{
    <div class="post">
        <header>
            <h1><a href="/blogs/bob/@item.Slug/">@item.Title</a></h1>
            <div>
                <span>@string.Format("{0:MMM d, yyyy}", item.Published)</span> |
                <span><a href="/blogs/bob">Bob</a></span> |
                <span><a href="/category/bob/cat-number-1">cat-number-1</a></span>
            </div>
        </header>
        <p>@item.Description</p>
        <p><a class="btn btn-primary btn-lg" href="/blogs/bob/test-number-two/" role="button">Learn more</a></p>
    </div>
}

<nav>
    <ul class="pager">
        <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
        <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>
@await Html.PartialAsync("~/Views/Blogifier/Themes/Standard/Subfooter.cshtml")