@model Blogifier.Core.ViewModels.PostDetail
@{
    var theme = "Standard";
    Layout = "~/Views/Blogifier/Themes/" + theme + "/_Layout.cshtml";
}
<div class="blog-post">
    <h2 class="blog-post-title">@Model.Post.Title</h2>
    <p class="blog-post-meta">@string.Format("{0:MMM d, yyyy}", Model.Post.Published) by <a href="/blogs/@Model.Post.Blog.Slug">@Model.Post.Blog.AuthorName</a></p>
    @Model.Post.Content
</div>
<form role="form">
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>