@model Blogifier.Core.ViewModels.PostList
@foreach (var item in Model.Posts)
{
<div class="post">
    <header>
        <h1><a href="~/@Blogifier.Constants.Blogs/@item.BlogSlug/@item.Slug/">@item.Title</a></h1>
        <div>
            <span>@string.Format("{0:MMM d, yyyy}", item.Published)</span>
            @foreach (var cat in item.Categories)
            {
            <span>| <a href="~/@Blogifier.Constants.Category/@item.BlogSlug/@cat.Slug">@cat.Title</a></span>
            }
        </div>
    </header>
    <p>@Html.Raw(item.Content)</p>
    <p><a class="btn btn-primary btn-lg" href="~/@Blogifier.Constants.Blogs/@item.BlogSlug/@item.Slug/" role="button">Learn more</a></p>
</div>
}