<div class="header header-filter" style="background-image: url('/bf/material/img/city.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="title text-center">@Blogifier.Core.Infrastructure.AppSettings.Title</h1>
            </div>
        </div>
    </div>
</div>