@model Blogifier.Core.ViewModels.PostDetail
@{
    var theme = "Bootstrap";
    Layout = "~/Views/Blogifier/Admin/Themes/" + theme + "/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-8">
        <form method="post" action="/admin/@Model.Post.Blog.Slug/@Model.Post.Slug/update">
            @*<input type="text" style="margin-bottom: 10px" value="@Model.Title" id="txtPostTitle" name="txtPostTitle" class="form-control">*@
            <input asp-for="Post.Title" class="form-control" style="margin-bottom: 10px"/>
            <textarea id="mytextarea">@Model.Post.Content</textarea>

            <textarea id="hdnContent" asp-for="Post.Content" hidden="hidden"></textarea>

            <p style="margin-top: 10px">
                @*<a class="btn btn-success btn-lg" href="#" role="button">Save</a>*@
                <button class="btn btn-success btn-lg" type="submit" onclick="submitPost()">Save</button>
                <a class="btn btn-warning" href="#" role="button">Publish</a>
                <a class="btn btn-danger" href="#" role="button">Delete</a>
                <a class="btn btn-default" href="/admin/@Model.Post.Blog.Slug" role="button">Cancel</a>
            </p>
        </form>
    </div>
    <div class="col-md-4">
        <div class="list-group">

            <div class="list-group-item">
                <h4>Link example <a href="#"><span class="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span></a></h4>
                <a class="list-group-item" href="#" onClick="insertAsset('<a href=\'http://www.google.com\'>Link example</a>')">
                    <p>http://www.my.testsite.com</p>
                </a>
            </div>

            <div class="list-group-item">
                <h4>MyImageFile.png <a href="#"><span class="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span></a></h4>
                <a class="list-group-item" href="#" onClick="insertAsset('<img src=\'http://placehold.it/70x70\'/>')">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="http://placehold.it/70x70" />
                        </div>
                        <div class="col-lg-8">

                            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="list-group-item">
                <h4>my_video_file.mp4 <a href="#"><span class="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span></a></h4>
                <a class="list-group-item" href="#" onClick="insertAsset('<img src=\'http://placehold.it/170x70\'/>')">
                    <img src="http://placehold.it/170x70" />
                    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                </a>
            </div>

        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src='~/bf/tinymce/tinymce.min.js'></script>
<script>
	tinymce.init({
	    selector: '#mytextarea'
	});
	var eidtPost = function(post){
	    tinyMCE.activeEditor.setContent($(post).html());
	}
	var insertAsset = function(txt){
	    tinymce.activeEditor.execCommand('mceInsertContent', false, txt);
	}
	var submitPost = function () {
	    alert(tinyMCE.activeEditor.getContent());
	    $(hdnContent).val(tinyMCE.activeEditor.getContent());
	}
</script>