@model Blogifier.Core.Models.Blog
@{
    var theme = "Bootstrap";
    Layout = "~/Views/Blogifier/Admin/Themes/" + theme + "/_Layout.cshtml";
}
<h2>New blog</h2>
<form method="post" action="/@Blogifier.Constants.Admin/new-blog">
    <div>@Model.IdentityName</div>
    <label asp-for="Title">Title</label>
    <input asp-for="Title" class="form-control" placeholder="Blog title" />
    <label asp-for="Description">Description</label>
    <input asp-for="Description" class="form-control" placeholder="Description" />
    <label asp-for="AuthorName">Author name</label>
    <input asp-for="AuthorName" class="form-control" placeholder="Author name" />
    <label asp-for="AuthorEmail">Email</label>
    <input asp-for="AuthorEmail" class="form-control" placeholder="Email" />
    <p>
        <button class="btn btn-success btn-lg" type="submit">Save</button>
    </p>
    <input asp-for="IdentityName" hidden="hidden" />
</form>