@model Blogifier.Core.ViewModels.PostDetail
<form method="post" action="/admin/@Model.Post.Blog.Slug/new-post/save">
    <input asp-for="Post.Title" class="form-control" style="margin-bottom: 10px"/>
    <textarea id="mytextarea">Type here...</textarea>
    <p style="margin-top: 10px">
        <button class="btn btn-success btn-lg" type="submit" onclick="submitPost()">Save</button>
        <a class="btn btn-warning" href="#" role="button">Publish</a>
        <a class="btn btn-danger" href="#" role="button">Delete</a>
        <a class="btn btn-default" href="/admin/@Model.Post.Blog.Slug" role="button">Cancel</a>
    </p>

    <input id="hdnPostId" asp-for="Post.PostId" hidden="hidden" />
    <input asp-for="Post.BlogId" hidden="hidden"/>
    <textarea id="hdnContent" asp-for="Post.Content" hidden="hidden"></textarea>
</form>